.campus {
  margin: 8rem auto;
  width: 90%;
  text-align: center;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.gallery img {
  width: 23%;
  height: 30rem;
  border-radius: 1rem;
}
/*.................. media query......*/

@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 48%;
    margin-bottom: 25px;
  }
}
